* {
    box-sizing: border-box;
 }

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(159 204 244);
}

.nav_bar {
    display: flex;
    flex-direction: row;
    margin: -10px 0px 50px 0px;
    height: 70px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 100%;
}

.nav_list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    background-color:rgb(243, 250, 255);
    min-width: 100%;
}

a {
    text-decoration: none; 
}



.full_form {
    background-color: rgb(243, 250, 255);
    max-width: 80%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    
}

input[type=text], input[type=textarea] {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box;
    margin: 6px 20px 16px;  
    resize: vertical 
}

li {
    padding: 10px;
    margin: 10px;
}

.contact_header {
    font-size: 40px;
    margin: 10px 0 -10px;
    font-family: "Lucidia Handwriting", cursive;
}

form {
    display: flex;
    flex-wrap: wrap;
}

label {
    margin: 6px 20px 16px;  
}

.email_1, .address_1, .phone_1 {
    margin-bottom: 0;
    font-weight: bold;
}

.company_email, .company_address, .company_phone {
    margin-top: 0;
}

input[type=button] {
    margin: 10px 20px 20px;
    min-width: 25%;
    height: 30px;
}

.user_info {
    width: 50%;
    display: flex;
}

label[for=fname] {
    margin-top: 20px;
}

#flowers {
    height: 200px;
    margin:5px 0px 5px;
}

.fa {
    padding: 20px 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 70px;
    padding-right: 10px;
    align-content: center;
    width: 100%;
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0;
  }

  textarea {
    width: 100%;
    margin: 0px 20px 20px;
    height: 60px;
  }
  

.answers {
    width: 94%;
    margin-left: 20px;
    padding-left: 5px;
    margin-top: 5px;
    font-size: larger;
 }

#ans, #ans1, #ans2 {
    padding-left: 4px;
    margin-top: 5px;
}

 .company_info {
    min-width: fit-content;
}
 

 @media (max-width: 450px) {
    .full_form {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        background-size: cover;
        height: 150%;
    }
    .user_info {
        min-width: 50%;
        display: flex;
    }
 }

